@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: roboto;
	font-weight: 100 !important;
}
/* Modification of deault Bootstrap Styles */
.navbar {
	min-height: 0;
	background: transparent !important;
	border:none;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	z-index: 9999
}

.navbar-nav.navbar-right:last-child {
	margin-right: 15px !important;
}
.navbar-inverse .navbar-brand {
	padding: 1.2em;
	text-transform: uppercase;
	color: #000;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
}

.nav-tabs {
	background: none;
}
.nav-tabs > li {
	width:40% !important;
	text-align: center;
	color: #000 !important;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: #000 !important;
}
.nav-tabs .active {
	border-top: 1px solid #ddd !important;
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
	color: #000 !important
	-webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	padding: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-inverse .navbar-nav>.active>a {
	background:transparent;
	color: #fff;
}
.full-page {
	height: 100%;
	width: 100%;
}
.text-primary {
	color: #A19898;
}
.text-primary:hover {
	color: #fff;
}
/* Home */
#home {
	height: 100%;
}.central-overlay {
	position:absolute;
	height:100%;
	width:100%;
	background-image: url("../images/overlay-pattern.png") !important;
	z-index: 1000;
}


/* About Us */
#aboutus {
	background-color: #252525;
	color: #656565;
}
#aboutus .lead {
	line-height: 1.7;
	text-align: justify;
	padding: 0.5em;
}
#aboutus .container-fluid {
	padding-bottom: 100px;
}
span.divider {
  display: block;
  margin: 0px;
  width: 150px;
  height: 2px;
  background-color: #352E26;
}

span.divider.center {
  margin-right: auto;
  margin-left: auto;
}


/* Flagshp */
#flagship {
	background-color: #252525;
}


/* Portfolio */
#portfolio {
	background-color: #252525;
}
.portfolio-item {
	padding: 0;
}

/* Gallery Styles */
#gallery {
	background-color: #665840
}
#gallery {
	width: 100%;
	margin:0;
	padding: 0
}

.page-header {
	border: none;
	margin-bottom: 0;
}

/* Services Styles */
#service {
	padding-bottom: 100px;
	background-color: #252525;
}
@media (min-width: 992px) {
	#service .col-md-3 {
		width: 20%;
	}
}
#service .page-header {
	color: #A19898;
	border-color: #A19898;
}
#service .service-items {
	padding-top: 2em;
}
#service h3 {
	color: #A19898;
}

/* Contact Us */
#contact {
	height:90%;
	color: #A19898
}
#contact form {
	padding-bottom: 100px;
}


/* Map-section */
#map-section {
	height: 50%;
}
#map-section div {
	padding: 0;
}

/* Footer */
.footer {
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	background-color: #f5f5f5;
}

/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/
figure.effect-sadie {
	padding: 0;
}
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}



.stat {
	margin:50px auto;
	text-align:center;
}
.highlight {
   color:#111;
   font-weight:bold;
   display:block;
   overflow:hidden;
   margin-bottom:0;
   font-size:48px;
}
.stat i {
	color:#f7c221;
}
.milestone-details {
   font-weight:bold;
   font-size:18px;
   color:#999;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;

	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/* Kaede */
.input--kaede {
	display: block;
	overflow: hidden;
	margin: 1em auto 2em;
	background: #EFEEEE;
}

.input__field--kaede {
	position: absolute;
	top: 0;
	right: 100%;
	width: 60%;
	height: 100%;
	background: #fff;
	color: #9DABBA;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede {
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	cursor: text;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label-content--kaede {
	padding: 1.5em 0;
}

.input__field--kaede:focus,
.input--filled .input__field--kaede {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
	-webkit-transform: translate3d(60%, 0, 0);
	transform: translate3d(60%, 0, 0);
	pointer-events: none;
}

@media screen and (max-width: 34em) {
	.input__field--kaede:focus + .input__label--kaede,
	.input--filled .input__label--kaede  {
		-webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		pointer-events: none;
	}
}


#bcbg {width:450px;height:220px;margin-bottom:1em;background:rgba(0,0,0,0.5);padding:15px;font-family: 'Ubuntu', sans-serif;}
.line1 {font-family: 'The Girl Next Door', cursive;font-size:29px;color:#fff;margin:8px;}
.line2 {font-family: 'Ubuntu', sans-serif;font-size:15px;color:#fff;margin:-8px 0 0 9px;}
.contact {font-family: 'Ubuntu', sans-serif;color:#fff;width:250px;height:65px;margin:75px 0 0 9px;padding:5px;}
.logo {background:transparent url(http://static.colourlovers.com/images/patternDefinitions/36/368/368247.png?1381699115)no-repeat center;width:125px;height:130px;float:right;margin:-219px 10px 0 0;text-align:center;}

#central-header {
	position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
#central-header h3 {
	margin-top: 0;
	color: #fff;
	font-weight: 100 !important;
}
#central-header h1 {
		font-size: 	3em;
	    color: #fff;
	    font-weight: 100 !important;
	}
@media (min-width: 992px) {
	#central-header h1 {
		font-size: 	7em;
	    color: #fff;

	}
}


/* ==========================================================================
   Counters
============================================================================= */

.nc-simple {
	color: #000;
	padding-bottom: 2em;
}
.nc-simple.text-light,
.text-light .nc-simple {
	color: #fff;
}
.nc-simple span.counter-icon {
	font-size: 50px;
	margin-bottom:30px;
}
.nc-simple span.counter, .nc-simple span.counter-extend {
	font-size: 30px;
	font-weight: bold;
	color: #656565
}
.nc-simple h4 {
	margin: 5px 0 0;
	text-transform: uppercase;
	color: #656565;
}
span.nc-text {
	font-size: 16px;
	font-weight: bold;
	color: #656565;
}
.nc-lined {
	padding: 0;
}
.nc-style-4 span, 
.nc-lined span {
	font-size: 50px;
	font-weight: bold;
}
.nc-lined span.counter-icon {
	font-weight: normal;
	border-bottom: 3px solid #000;
	min-width: 30%;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.nc-lined.text-light span.counter-icon,
.text-light .nc-lined span.counter-icon,
.nc-lined .text-light span.counter-icon {
	border-color: #fff;
}
.nc-lined h1,
.nc-lined h2,
.nc-lined h3,
.nc-lined h4,
.nc-lined h5,
.nc-lined h6 {
	margin: 0;
}
.nc-style-4 h5, .nc-lined h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.counter-border {
	border-right: 1px solid #632E1E;
}
.shrink {
	background-color: #000 !important;
}
.navbar-inverse .navbar-nav>.active>a {
	color: #fff;
}
.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #656565;
    opacity: 0;
    background: rgba(15,15,15,0.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box img {
	width: 100%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

#myCarousel {
	height: 100%;
}

.owl-controls {
	display: none !important;
}

